/************************************************
general
************************************************/
/*---------------
display
------------------*/
.r_none{display:none !important;}
.r_dBlock{display:block !important;}
.r_flexColumn{-webkit-flex-direction: column !important; -moz-flex-direction: column !important; flex-direction: column !important;}
.r_fNone{float:none !important;}
.r_wbBA{word-break:break-all !important;}
.pcOnly{display:none !important;}
.spOnly{display:block !important;}

/*---------------
margin
※PC用クラスと重複して使用する場合、後述のsp_～～を使用
------------------*/
.r_m0auto{margin:0 auto !important;}
.r_m0{margin:0px !important;}
.r_m5{margin:5px !important;}
.r_m10{margin:10px !important;}
.r_m15{margin:15px !important;}
.r_m20{margin:20px !important;}
.r_m25{margin:25px !important;}
.r_m30{margin:30px !important;}
.r_m35{margin:35px !important;}
.r_m40{margin:40px !important;}
.r_m45{margin:45px !important;}
.r_m50{margin:50px !important;}
.r_m55{margin:55px !important;}
.r_m60{margin:60px !important;}
.r_m65{margin:65px !important;}
.r_m70{margin:70px !important;}
.r_m75{margin:75px !important;}
.r_m80{margin:80px !important;}

.r_mt0{margin-top:0px !important;}
.r_mt5{margin-top:5px !important;}
.r_mt10{margin-top:10px !important;}
.r_mt15{margin-top:15px !important;}
.r_mt20{margin-top:20px !important;}
.r_mt25{margin-top:25px !important;}
.r_mt30{margin-top:30px !important;}
.r_mt35{margin-top:35px !important;}
.r_mt40{margin-top:40px !important;}
.r_mt45{margin-top:45px !important;}
.r_mt50{margin-top:50px !important;}
.r_mt55{margin-top:55px !important;}
.r_mt60{margin-top:60px !important;}
.r_mt65{margin-top:65px !important;}
.r_mt70{margin-top:70px !important;}
.r_mt75{margin-top:75px !important;}
.r_mt80{margin-top:80px !important;}

.r_mb0{margin-bottom:0px !important;}
.r_mb5{margin-bottom:5px !important;}
.r_mb10{margin-bottom:10px !important;}
.r_mb15{margin-bottom:15px !important;}
.r_mb20{margin-bottom:20px !important;}
.r_mb25{margin-bottom:25px !important;}
.r_mb30{margin-bottom:30px !important;}
.r_mb35{margin-bottom:35px !important;}
.r_mb40{margin-bottom:40px !important;}
.r_mb45{margin-bottom:45px !important;}
.r_mb50{margin-bottom:50px !important;}
.r_mb55{margin-bottom:55px !important;}
.r_mb60{margin-bottom:60px !important;}
.r_mb65{margin-bottom:65px !important;}
.r_mb70{margin-bottom:70px !important;}
.r_mb75{margin-bottom:75px !important;}
.r_mb80{margin-bottom:80px !important;}

.r_ml0{margin-left:0px !important;}
.r_ml5{margin-left:5px !important;}
.r_ml10{margin-left:10px !important;}
.r_ml15{margin-left:15px !important;}
.r_ml20{margin-left:20px !important;}
.r_ml25{margin-left:25px !important;}
.r_ml30{margin-left:30px !important;}
.r_ml35{margin-left:35px !important;}
.r_ml40{margin-left:40px !important;}
.r_ml45{margin-left:45px !important;}
.r_ml50{margin-left:50px !important;}
.r_ml55{margin-left:55px !important;}
.r_ml60{margin-left:60px !important;}
.r_ml65{margin-left:65px !important;}
.r_ml70{margin-left:70px !important;}
.r_ml75{margin-left:75px !important;}
.r_ml80{margin-left:80px !important;}

.r_mr0{margin-right:0px !important;}
.r_mr5{margin-right:5px !important;}
.r_mr10{margin-right:10px !important;}
.r_mr15{margin-right:15px !important;}
.r_mr20{margin-right:20px !important;}
.r_mr25{margin-right:25px !important;}
.r_mr30{margin-right:30px !important;}
.r_mr35{margin-right:35px !important;}
.r_mr40{margin-right:40px !important;}
.r_mr45{margin-right:45px !important;}
.r_mr50{margin-right:50px !important;}
.r_mr55{margin-right:55px !important;}
.r_mr60{margin-right:60px !important;}
.r_mr65{margin-right:65px !important;}
.r_mr70{margin-right:70px !important;}
.r_mr75{margin-right:75px !important;}
.r_mr80{margin-right:80px !important;}


/*---------------
padding
※PC用クラスと重複して使用する場合、後述のsp_～～を使用
------------------*/
.r_p0{padding:0px !important;}
.r_p5{padding:5px !important;}
.r_p10{padding:10px !important;}
.r_p15{padding:15px !important;}
.r_p20{padding:20px !important;}
.r_p25{padding:25px !important;}
.r_p30{padding:30px !important;}
.r_p35{padding:35px !important;}
.r_p40{padding:40px !important;}
.r_p45{padding:45px !important;}
.r_p50{padding:50px !important;}
.r_p55{padding:55px !important;}
.r_p60{padding:60px !important;}
.r_p65{padding:65px !important;}
.r_p70{padding:70px !important;}
.r_p75{padding:75px !important;}
.r_p80{padding:80px !important;}

.r_pt0{padding-top:0px !important;}
.r_pt5{padding-top:5px !important;}
.r_pt10{padding-top:10px !important;}
.r_pt15{padding-top:15px !important;}
.r_pt20{padding-top:20px !important;}
.r_pt25{padding-top:25px !important;}
.r_pt30{padding-top:30px !important;}
.r_pt35{padding-top:35px !important;}
.r_pt40{padding-top:40px !important;}
.r_pt45{padding-top:45px !important;}
.r_pt50{padding-top:50px !important;}
.r_pt55{padding-top:55px !important;}
.r_pt60{padding-top:60px !important;}
.r_pt65{padding-top:65px !important;}
.r_pt70{padding-top:70px !important;}
.r_pt75{padding-top:75px !important;}
.r_pt80{padding-top:80px !important;}

.r_pb0{padding-bottom:0px !important;}
.r_pb5{padding-bottom:5px !important;}
.r_pb10{padding-bottom:10px !important;}
.r_pb15{padding-bottom:15px !important;}
.r_pb20{padding-bottom:20px !important;}
.r_pb25{padding-bottom:25px !important;}
.r_pb30{padding-bottom:30px !important;}
.r_pb35{padding-bottom:35px !important;}
.r_pb40{padding-bottom:40px !important;}
.r_pb45{padding-bottom:45px !important;}
.r_pb50{padding-bottom:50px !important;}
.r_pb55{padding-bottom:55px !important;}
.r_pb60{padding-bottom:60px !important;}
.r_pb65{padding-bottom:65px !important;}
.r_pb70{padding-bottom:70px !important;}
.r_pb75{padding-bottom:75px !important;}
.r_pb80{padding-bottom:80px !important;}

.r_pl0{padding-left:0px !important;}
.r_pl5{padding-left:5px !important;}
.r_pl10{padding-left:10px !important;}
.r_pl15{padding-left:15px !important;}
.r_pl20{padding-left:20px !important;}
.r_pl25{padding-left:25px !important;}
.r_pl30{padding-left:30px !important;}
.r_pl35{padding-left:35px !important;}
.r_pl40{padding-left:40px !important;}
.r_pl45{padding-left:45px !important;}
.r_pl50{padding-left:50px !important;}
.r_pl55{padding-left:55px !important;}
.r_pl60{padding-left:60px !important;}
.r_pl65{padding-left:65px !important;}
.r_pl70{padding-left:70px !important;}
.r_pl75{padding-left:75px !important;}
.r_pl80{padding-left:80px !important;}
.r_pl230{padding-left:230px !important;}

.r_pr0{padding-right:0px !important;}
.r_pr5{padding-right:5px !important;}
.r_pr10{padding-right:10px !important;}
.r_pr15{padding-right:15px !important;}
.r_pr20{padding-right:20px !important;}
.r_pr25{padding-right:25px !important;}
.r_pr30{padding-right:30px !important;}
.r_pr35{padding-right:35px !important;}
.r_pr40{padding-right:40px !important;}
.r_pr45{padding-right:45px !important;}
.r_pr50{padding-right:50px !important;}
.r_pr55{padding-right:55px !important;}
.r_pr60{padding-right:60px !important;}
.r_pr65{padding-right:65px !important;}
.r_pr70{padding-right:70px !important;}
.r_pr75{padding-right:75px !important;}
.r_pr80{padding-right:80px !important;}


/*---------------
width
------------------*/
.r_wAuto{width:auto !important;}
.r_w5{width:5% !important;}
.r_w10{width:10% !important;}
.r_w14{width:14% !important;}
.r_w15{width:15% !important;}
.r_w20{width:20% !important;}
.r_w25{width:25% !important;}
.r_w30{width:30% !important;}
.r_w33{width:33% !important;}
.r_w34{width:34% !important;}
.r_w35{width:35% !important;}
.r_w40{width:40% !important;}
.r_w45{width:45% !important;}
.r_w48{width:48% !important;}
.r_w50{width:50% !important;}
.r_w55{width:55% !important;}
.r_w60{width:60% !important;}
.r_w65{width:65% !important;}
.r_w70{width:70% !important;}
.r_w75{width:75% !important;}
.r_w80{width:80% !important;}
.r_w85{width:85% !important;}
.r_w90{width:90% !important;}
.r_w95{width:95% !important;}
.r_w100{width:100% !important;}

/*---------------
position
------------------*/
.imageWideLeft img,
.imageWideRight img,
.imageWideCenter img  {width:100% !important; height:auto !important;}
.r_tCenter {text-align:center !important;}
.r_tLeft {text-align:left !important;}
.r_tRight {text-align:right !important;}



/************************************************
Block
************************************************/
/*---------------
comBlock
------------------*/
.comBlock01 {
	margin-top:20px;
}


/*---------------
innerContents
------------------*/
.innerContents {
	padding:0 10px;
}
.innerContents_important {
	padding:0 2%;
}

.innerContents .innerContents {
	padding:0;
}

.acContents .innerContents {
	padding:0;
}


/*---------------
headingBlock
------------------*/
.headingBlock01 span.innerLink{
	font-size:85%;
}

.headingBlock07 .title{
	padding: 8px 10px;
}

.accordionBlock01 {
	margin-bottom:10px;
}
.accordionBlock01 .acHead a.acLabel,
.accordionBlock01 .acHeadInner {
	width:auto;
}

.accordionBlock01 .acHead a.acLabel span {
	width:18px;
}

.accordionBlock01 .acHeadInner {
	width:100%;
}

.accordionBlock01 .acHead span.title {
	padding: 5px 5px 5px 13px;
}

.accordionBlock01 h2.acHead a.acLabel,
.accordionBlock01 h3.acHead a.acLabel {
	background:#01a32b;
	color:#fff;
	width:30px;
	padding: 11px 10px 11px 10px;
	text-decoration:none;
}

.accordionBlock01 .acHead a.acLabel span,
.accordionBlock01.act .acHead a.acLabel span {
	text-indent:-99999px;
	padding:0;
}

.accordionBlock01 h2.acHead span.ico img,
.accordionBlock01 h3.acHead span.ico img {
	zoom:.75;
}

.accordionBlock01 .acContents {
	display:none;
	padding:10px 10px 0;
}


/*---------------
btnBlock
------------------*/
.btnBlock01{
	width:96%;
	margin:10px auto 0 auto;
}
.btnBlock01 a{
	display:block;
	margin-top:10px;
	padding:15px 10px 15px 20px;
	border:2px solid #c3dea5;
	text-align:left;
	font-weight:normal;
}


/*---------------
imgBtnBlock
------------------*/
/* 2018.02.08 */
.imgBtnBlock01{
	max-width:400px;
	width:100%;
}
.imgBtnBlock01 img{
	width:100%;
}
/* /2018.02.08 */


/*---------------
headingBlock
------------------*/
.headingBlockH1 {
	margin-bottom:20px;
	font-size:130%;
	line-height:120%;
	background-size:6px auto;
	-webkit-background-size:6px auto;
	padding:10px;
}


/*---------------
bgBorderBlock
------------------*/
.bgBorderBlock02 .bgBorderBlock04 .text {
	width:auto !important;
}

.bgBorderBlock03 .image,
.bgBorderBlock03 .btn {
	float:none !important;
}

.bgBorderBlock03 .image {
	width:100% !important;
}

.bgBorderBlock04 {
	border:solid 2px #ff0000;
	padding:10px;
	background:#fef2ea;
}

.bgBorderBlock04 .text,
.bgBorderBlock02 dl dd .bgBorderBlock04 .text {
	width:100%;
	float:none;
}

.bgBorderBlock04 .btn,
.bgBorderBlock02 dl dd .bgBorderBlock04 .btn {
	float:none;
}

.bgBorderBlock04 .btn p {
	margin:0
}
.bgBorderBlock04 p.tRight {
	text-align:left !important;
}
/* 2016.09.01 */
.bgBorderBlock02 .image{
	float: none;
}
.bgBorderBlock02 .sevenAndi .text{
	padding-left: 0;
}
/* /2016.09.01 */


/*---------------
linkBlock
------------------*/
.linkBlock03{/* sp */
	display:block;
	width:95%;
	min-height:28px;
	padding:20px 5% 20px 0;
	border-bottom:1px solid #8a8a8a;
	background:url(/shared/img/cmn_btn_003.gif) left bottom repeat-x #fff;
	background-size:1px 42px;
	-webkit-background-size:1px 42px;
	font-size:115%;
	line-height:120%;
	font-weight:bold;
	text-align:right;
}

a.linkBlock03{
	color:#000000;
}

.linkBlock03 .linkBlocktext{
	display:inline-block;
	width:92%;
	text-align:left;
	vertical-align:middle;
}
.linkBlock03 img{
	padding:7px 0;
	vertical-align:middle;
}


/*---------------
listBlock
------------------*/
.listBlock01_lineB ul li p{
	padding: 0 10px 0 25px;
}/* 20180119追加 */


ul.listBlock01 .fLargeList.sideLeft,
.listBlock01 ul .fLargeList.sideLeft,
ul.listBlock01 .fLargeList.sideRight,
.listBlock01 ul .fLargeList.sideRight{
	float: none;
	width: 100%;
}/* 20190624追加 */

.listBlock03 dl dd {
	padding-left:130px;
}
.listBlock03_02 dl dt {
	float:none;
	padding:0 10px;
}
.listBlock03_02 dl dd {
	padding:0 10px;
}


/*---------------
imageBlock
------------------*/
.imageBlock01 .image img {
	width:100%;
	height:auto;
}
.imageBlock01 .image img.MV01 {
	max-width: 677px;

}

/*---------------
cautionBlock
------------------*/
.cautionBlock01 ul li .listBlock01,
ul.cautionBlock01 li .listBlock01 {
	padding-left:3em;
}

/*---------------
columnBlock
------------------*/
.column2Wrap01 .columnBlock01,
.column2Wrap01 .columnBlock02 {
	float:none;
	margin-bottom:10px;
	width:100%;
}


/*---------------
columnTableBlock
------------------*/
.columnTable2Wrap01 .columnBlock01,
.columnTable2Wrap01 .columnBlock02 {
	float:none;
	margin-bottom:10px;
}

.columnTable2Wrap01 .columnBlock01,
.columnTable2Wrap01 .columnBlock02 {
	width:auto;
}


/*---------------
columnListBlock
------------------*/
.columnList4Wrap01 .columnBlock01,
.columnList4Wrap01 .columnBlock02,
.columnList4Wrap01 .columnBlock03,
.columnList4Wrap01 .columnBlock04 {
	float:none;
	width:auto;
}


/*---------------
columnImageBlock
------------------*/
div.columnImageLeftBlock01 div.image,
div.columnImageRightBlock01 div.image,
.columnImageLeftBlock03 div.image,
.columnImageRightBlock03 div.image,
.columnImageLeftBlock05 div.image,
.columnImageRightBlock05 div.image {
	float:none;
}

div.columnImageLeftBlock01 div.image p,
div.columnImageRightBlock01 div.image p,
div.columnImageLeftBlock03 div.image p,
div.columnImageRightBlock03 div.image p,
div.columnImageLeftBlock05 div.image p,
div.columnImageRightBlock05 div.image p {
	margin-bottom:10px;
}

.columnImageLeftBlock01 div.image p.caption,
.columnImageRightBlock01 div.image p.caption,
.columnImageLeftBlock03 div.image p.caption,
.columnImageRightBlock03 div.image p.caption {
	width:auto;
}

div.columnImageLeftBlock01 div.text,
div.columnImageRightBlock01 div.text,
div.columnImageLeftBlock03 div.text,
div.columnImageRightBlock03 div.text,
div.columnImageLeftBlock05 div.text,
div.columnImageRightBlock05 div.text {
	padding:0;
}

div.columnImageLeftBlock01.fixed div.image {
	float:left !important;
}

div.columnImageRightBlock01.fixed div.image {
	float:right !important;
}

.columnBlockNormal .bgBorderBlock02 .text{
	padding: 0;
}


/*2col*/
.columnImage2Wrap01 .columnBlock01,
.columnImage2Wrap01 .columnBlock02,
.columnImage2Wrap02 .columnBlock01,
.columnImage2Wrap02 .columnBlock02,
.columnImage2Wrap03 .columnBlock01,
.columnImage2Wrap03 .columnBlock02 {
	float:none;
	width:auto;
	margin-bottom:10px;
}

.columnImage2Wrap03 .columnBlock01 .image p,
.columnImage2Wrap03 .columnBlock02 .image p {
	margin-bottom:0;
}

/*↓20190511追加↓*/
.columnImage2Wrap04{
	width: auto;
	max-width: 616px;
}
.columnImage2Wrap04 img{
	max-width: 100%;
}
/*↑20190511追加↑*/



/*3col*/
.columnImage3Wrap01 .columnBlock01,
.columnImage3Wrap01 .columnBlock02,
.columnImage3Wrap01 .columnBlock03,
.columnImage3Wrap02 .columnBlock01,
.columnImage3Wrap02 .columnBlock02,
.columnImage3Wrap02 .columnBlock03 {
	margin-right:16px;
}

.columnImage3Wrap03 .columnBlock01,
.columnImage3Wrap03 .columnBlock02,
.columnImage3Wrap03 .columnBlock03 {
	width:45%;
}

.columnImage3Wrap03 .columnBlock01 .image img,
.columnImage3Wrap03 .columnBlock02 .image img,
.columnImage3Wrap03 .columnBlock03 .image img {
	width:100%;
	height:auto;
}

.columnImage3Wrap03 .columnBlock02 {
	margin-right:0;
}

.columnImage3Wrap03 .columnBlock03 {
	margin-right:16px;
}

.columnImage3Wrap03 .image p.read img {
	width:auto !important;
	height:auto;
}


.columnImage3Wrap01 .image p {
	margin-bottom:0;
}
/*20180327追加*/
.columnImage3Wrap02 .operationStep {
	font-size:120%;
	padding-left: 10px;
	text-align: left;
}
.columnImage3Wrap02 .CBbottom {
	margin-bottom:20px;
	width:100%;
}


/*4col*/
.columnImage4Wrap01 .columnBlock01,
.columnImage4Wrap01 .columnBlock02,
.columnImage4Wrap01 .columnBlock03,
.columnImage4Wrap01 .columnBlock04 {
	margin-right:4px;
	width: 143px;
	text-align: center;
}

.columnImage4Wrap01 .image img {
	zoom:.75;
	-moz-transform:
		scale(0.75,0.75)
		translate(-5px,-7px);
}

/*↓20181015追加↓*/
.columnImage4Wrap02 .columnBlock01,
.columnImage4Wrap02 .columnBlock02,
.columnImage4Wrap02 .columnBlock03,
.columnImage4Wrap02 .columnBlock04 {
	margin-right:5px;
}
.columnImage4Wrap02 .image p {
	text-align:left;
}
.columnImage4Wrap02 .image img {
	zoom:.75;
	-moz-transform:
		scale(0.75,0.75)
		translate(-5px,-7px);
}
/*↑20181015追加↑*/

/*---------------
tableBlock
------------------*/
.tableBlock03 {
	width:100% !important;
}

.tableBlock01 table tbody th,
.tableBlock01 table tbody td,
.tableBlock02 table tbody th,
.tableBlock02 table tbody td,
.tableBlock03 table tbody th,
.tableBlock03 table tbody td {
	padding:5px;
}

.tableBlock01.tableOverflow,
.tableBlock02.tableOverflow{
	width: 100% !important;
	padding:0 0 10px 0;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.tableBlock01.tableOverflow::-webkit-scrollbar,
.tableBlock02.tableOverflow::-webkit-scrollbar{
  height: 5px;
}
.tableBlock01.tableOverflow::-webkit-scrollbar-track,
.tableBlock03.tableOverflow::-webkit-scrollbar-track{
  border-radius: 5px;
  background: #eee;
}
.tableBlock01.tableOverflow::-webkit-scrollbar-thumb,
.tableBlock04.tableOverflow::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #666;
}

/*---------------
indexBlock
------------------*/
.indexBlock01 ul li {
	float:none !important;
	width:100%;
}

.indexBlock01 ul li a .Inner span {
	width:50%;
}

.indexBlock02 ul li {
	width:100%;
	margin:0 0 10px 0;
}

.indexBlock02 ul li a span span {
	text-align:left;
	text-decoration:underline;
	vertical-align:middle;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.indexBlock03 dl dd ul li {
	background:url(/shared/img/cmn_ico_003.png) no-repeat scroll right center transparent;
	float:none;
	padding-right:15px;
	margin:0 0 10px 0;
	display:block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.indexBlock03 dl dd ul li a {
	display:block;
}

.indexBlock04 ul li {
	width:100%;
	margin:0 0 10px 0;
}

.indexBlock04 ul li a span span {
	text-align:left;
	text-decoration:underline;
	vertical-align:middle;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.indexBlock05 ul li {
	width:100%;
	margin:0 0 10px 0;
}

.indexBlock05 ul li a span span {
	text-align:left;
	text-decoration:underline;
	vertical-align:middle;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*20190228追加ここから*/
.indexBlock06{
	max-width: 370px;
	margin: 0 auto;
	padding: 20px 10px 0;
}
.indexBlock06 li{
/*	background: #ffffff;
	border-radius: 10px;
	margin-bottom: 20px;*/
	/*padding: 10px;*/
	width: auto;
}
.indexBlock06 li.left,
.indexBlock06 li.right{
	float: none;
}
/*20190228追加ここまで*/


/*---------------
accountBlock
------------------*/
.accountBlock01 .clear,
.accountBlock02 .clear {
	padding:20px 0;
	background:url(/shared/img/cmn_line_004.png) repeat-x left bottom;
}

.accountBlock01 .text,
.accountBlock02 .text {
	width:100%;
	float:none;
	text-align:center;
	margin-bottom:10px;
	padding-right:0px;
	min-height:auto;
	background:none
}

.accountBlock01 .text p,
.accountBlock02 .text p {
	font-size:125%;
	font-weight:bold;
}

.accountBlock01 .btn,
.accountBlock02 .btn {
	text-align:center;
	padding-left:0;
}

.accountBlock01 .text p,
.accountBlock01 .btn p,
.accountBlock02 .text p,
.accountBlock02 .btn p {
	margin:0;
}

.accountBlock01 .btn .btnAccountBlock,
.accountBlock02 .btn .btnAccountBlock {
	width:100%;
}


/*---------------
naviBlock
------------------*/
.naviBlock01 ul li.prev span,
.naviBlock01 ul li.next span {
	display:none;
}


/*---------------
printBlock
------------------*/
.printBlock01 {
	display:none;
}


/*---------------
flowBlock 20190228追加
------------------*/
.flowBlock01{
	margin: 0 auto;
	max-width: 677px
}
.flowBlock01 li::after{
	right: 40%;
}


/*---------------
margin
------------------*/
.firstBlock{margin-top:0 !important;}
.m0auto{margin:0 auto !important;}
.m0{margin:0px !important;}
.m5{margin:5px !important;}
.m10{margin:10px !important;}
.m15{margin:15px !important;}
.m20{margin:20px !important;}
.m25{margin:25px !important;}
.m30{margin:30px !important;}
.m35{margin:35px !important;}
.m40{margin:40px !important;}
.m45{margin:45px !important;}
.m50{margin:50px !important;}
.m55{margin:55px !important;}
.m60{margin:60px !important;}
.m65{margin:65px !important;}
.m70{margin:70px !important;}
.m75{margin:75px !important;}
.m80{margin:80px !important;}

.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;}
.mt70{margin-top:70px !important;}
.mt75{margin-top:75px !important;}
.mt80{margin-top:80px !important;}

.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mb55{margin-bottom:55px !important;}
.mb60{margin-bottom:60px !important;}
.mb65{margin-bottom:65px !important;}
.mb70{margin-bottom:70px !important;}
.mb75{margin-bottom:75px !important;}
.mb80{margin-bottom:80px !important;}

.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml40{margin-left:40px !important;}
.ml45{margin-left:45px !important;}
.ml50{margin-left:50px !important;}
.ml55{margin-left:55px !important;}
.ml60{margin-left:60px !important;}
.ml65{margin-left:65px !important;}
.ml70{margin-left:70px !important;}
.ml75{margin-left:75px !important;}
.ml80{margin-left:80px !important;}
.ml85{margin-left:85px !important;}
.ml90{margin-left:90px !important;}


.mr0{margin-right:0px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr18{margin-right:18px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mr50{margin-right:50px !important;}
.mr55{margin-right:55px !important;}
.mr60{margin-right:60px !important;}
.mr65{margin-right:65px !important;}
.mr70{margin-right:70px !important;}
.mr75{margin-right:75px !important;}
.mr80{margin-right:80px !important;}


/*---------------
padding
------------------*/
.p0{padding:0px !important;}
.p5{padding:5px !important;}
.p10{padding:10px !important;}
.p15{padding:15px !important;}
.p20{padding:20px !important;}
.p25{padding:25px !important;}
.p30{padding:30px !important;}
.p35{padding:35px !important;}
.p40{padding:40px !important;}
.p45{padding:45px !important;}
.p50{padding:50px !important;}
.p55{padding:55px !important;}
.p60{padding:60px !important;}
.p65{padding:65px !important;}
.p70{padding:70px !important;}
.p75{padding:75px !important;}
.p80{padding:80px !important;}

.pt0{padding-top:0px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;}
.pt45{padding-top:45px !important;}
.pt50{padding-top:50px !important;}
.pt55{padding-top:55px !important;}
.pt60{padding-top:60px !important;}
.pt65{padding-top:65px !important;}
.pt70{padding-top:70px !important;}
.pt75{padding-top:75px !important;}
.pt80{padding-top:80px !important;}

.pb0{padding-bottom:0px !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}
.pb50{padding-bottom:50px !important;}
.pb55{padding-bottom:55px !important;}
.pb60{padding-bottom:60px !important;}
.pb65{padding-bottom:65px !important;}
.pb70{padding-bottom:70px !important;}
.pb75{padding-bottom:75px !important;}
.pb80{padding-bottom:80px !important;}

.pl0{padding-left:0px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl35{padding-left:35px !important;}
.pl40{padding-left:40px !important;}
.pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;}
.pl55{padding-left:55px !important;}
.pl60{padding-left:60px !important;}
.pl65{padding-left:65px !important;}
.pl70{padding-left:70px !important;}
.pl75{padding-left:75px !important;}
.pl80{padding-left:80px !important;}
.pl230{padding-left:230px !important;}

.pr0{padding-right:0px !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pr35{padding-right:35px !important;}
.pr40{padding-right:40px !important;}
.pr45{padding-right:45px !important;}
.pr50{padding-right:50px !important;}
.pr55{padding-right:55px !important;}
.pr60{padding-right:60px !important;}
.pr65{padding-right:65px !important;}
.pr70{padding-right:70px !important;}
.pr75{padding-right:75px !important;}
.pr80{padding-right:80px !important;}
.pr125{padding-right:125px !important;}


/*---------------
20190228追加
上記打消し用margin
------------------*/
.sp_firstBlock{margin-top:0 !important;}
.sp_m0auto{margin:0 auto !important;}
.sp_m0{margin:0px !important;}
.sp_m5{margin:5px !important;}
.sp_m10{margin:10px !important;}
.sp_m15{margin:15px !important;}
.sp_m20{margin:20px !important;}
.sp_m25{margin:25px !important;}
.sp_m30{margin:30px !important;}
.sp_m35{margin:35px !important;}
.sp_m40{margin:40px !important;}
.sp_m45{margin:45px !important;}
.sp_m50{margin:50px !important;}
.sp_m55{margin:55px !important;}
.sp_m60{margin:60px !important;}
.sp_m65{margin:65px !important;}
.sp_m70{margin:70px !important;}
.sp_m75{margin:75px !important;}
.sp_m80{margin:80px !important;}

.sp_mt0{margin-top:0px !important;}
.sp_mt5{margin-top:5px !important;}
.sp_mt10{margin-top:10px !important;}
.sp_mt15{margin-top:15px !important;}
.sp_mt20{margin-top:20px !important;}
.sp_mt25{margin-top:25px !important;}
.sp_mt30{margin-top:30px !important;}
.sp_mt35{margin-top:35px !important;}
.sp_mt40{margin-top:40px !important;}
.sp_mt45{margin-top:45px !important;}
.sp_mt50{margin-top:50px !important;}
.sp_mt55{margin-top:55px !important;}
.sp_mt60{margin-top:60px !important;}
.sp_mt65{margin-top:65px !important;}
.sp_mt70{margin-top:70px !important;}
.sp_mt75{margin-top:75px !important;}
.sp_mt80{margin-top:80px !important;}

.sp_mb0{margin-bottom:0px !important;}
.sp_mb5{margin-bottom:5px !important;}
.sp_mb10{margin-bottom:10px !important;}
.sp_mb15{margin-bottom:15px !important;}
.sp_mb20{margin-bottom:20px !important;}
.sp_mb25{margin-bottom:25px !important;}
.sp_mb30{margin-bottom:30px !important;}
.sp_mb35{margin-bottom:35px !important;}
.sp_mb40{margin-bottom:40px !important;}
.sp_mb45{margin-bottom:45px !important;}
.sp_mb50{margin-bottom:50px !important;}
.sp_mb55{margin-bottom:55px !important;}
.sp_mb60{margin-bottom:60px !important;}
.sp_mb65{margin-bottom:65px !important;}
.sp_mb70{margin-bottom:70px !important;}
.sp_mb75{margin-bottom:75px !important;}
.sp_mb80{margin-bottom:80px !important;}

.sp_ml0{margin-left:0px !important;}
.sp_ml5{margin-left:5px !important;}
.sp_ml10{margin-left:10px !important;}
.sp_ml15{margin-left:15px !important;}
.sp_ml20{margin-left:20px !important;}
.sp_ml25{margin-left:25px !important;}
.sp_ml30{margin-left:30px !important;}
.sp_ml35{margin-left:35px !important;}
.sp_ml40{margin-left:40px !important;}
.sp_ml45{margin-left:45px !important;}
.sp_ml50{margin-left:50px !important;}
.sp_ml55{margin-left:55px !important;}
.sp_ml60{margin-left:60px !important;}
.sp_ml65{margin-left:65px !important;}
.sp_ml70{margin-left:70px !important;}
.sp_ml75{margin-left:75px !important;}
.sp_ml80{margin-left:80px !important;}
.sp_ml85{margin-left:85px !important;}
.sp_ml90{margin-left:90px !important;}

.sp_mr0{margin-right:0px !important;}
.sp_mr5{margin-right:5px !important;}
.sp_mr10{margin-right:10px !important;}
.sp_mr15{margin-right:15px !important;}
.sp_mr18{margin-right:18px !important;}
.sp_mr20{margin-right:20px !important;}
.sp_mr25{margin-right:25px !important;}
.sp_mr30{margin-right:30px !important;}
.sp_mr35{margin-right:35px !important;}
.sp_mr40{margin-right:40px !important;}
.sp_mr45{margin-right:45px !important;}
.sp_mr50{margin-right:50px !important;}
.sp_mr55{margin-right:55px !important;}
.sp_mr60{margin-right:60px !important;}
.sp_mr65{margin-right:65px !important;}
.sp_mr70{margin-right:70px !important;}
.sp_mr75{margin-right:75px !important;}
.sp_mr80{margin-right:80px !important;}


/*---------------
20190228追加
上記打消し用padding
------------------*/
.sp_p0{padding:0px !important;}
.sp_p5{padding:5px !important;}
.sp_p10{padding:10px !important;}
.sp_p15{padding:15px !important;}
.sp_p20{padding:20px !important;}
.sp_p25{padding:25px !important;}
.sp_p30{padding:30px !important;}
.sp_p35{padding:35px !important;}
.sp_p40{padding:40px !important;}
.sp_p45{padding:45px !important;}
.sp_p50{padding:50px !important;}
.sp_p55{padding:55px !important;}
.sp_p60{padding:60px !important;}
.sp_p65{padding:65px !important;}
.sp_p70{padding:70px !important;}
.sp_p75{padding:75px !important;}
.sp_p80{padding:80px !important;}

.sp_pt0{padding-top:0px !important;}
.sp_pt5{padding-top:5px !important;}
.sp_pt10{padding-top:10px !important;}
.sp_pt15{padding-top:15px !important;}
.sp_pt20{padding-top:20px !important;}
.sp_pt25{padding-top:25px !important;}
.sp_pt30{padding-top:30px !important;}
.sp_pt35{padding-top:35px !important;}
.sp_pt40{padding-top:40px !important;}
.sp_pt45{padding-top:45px !important;}
.sp_pt50{padding-top:50px !important;}
.sp_pt55{padding-top:55px !important;}
.sp_pt60{padding-top:60px !important;}
.sp_pt65{padding-top:65px !important;}
.sp_pt70{padding-top:70px !important;}
.sp_pt75{padding-top:75px !important;}
.sp_pt80{padding-top:80px !important;}

.sp_pb0{padding-bottom:0px !important;}
.sp_pb5{padding-bottom:5px !important;}
.sp_pb10{padding-bottom:10px !important;}
.sp_pb15{padding-bottom:15px !important;}
.sp_pb20{padding-bottom:20px !important;}
.sp_pb25{padding-bottom:25px !important;}
.sp_pb30{padding-bottom:30px !important;}
.sp_pb35{padding-bottom:35px !important;}
.sp_pb40{padding-bottom:40px !important;}
.sp_pb45{padding-bottom:45px !important;}
.sp_pb50{padding-bottom:50px !important;}
.sp_pb55{padding-bottom:55px !important;}
.sp_pb60{padding-bottom:60px !important;}
.sp_pb65{padding-bottom:65px !important;}
.sp_pb70{padding-bottom:70px !important;}
.sp_pb75{padding-bottom:75px !important;}
.sp_pb80{padding-bottom:80px !important;}

.sp_pl0{padding-left:0px !important;}
.sp_pl5{padding-left:5px !important;}
.sp_pl10{padding-left:10px !important;}
.sp_pl15{padding-left:15px !important;}
.sp_pl20{padding-left:20px !important;}
.sp_pl25{padding-left:25px !important;}
.sp_pl30{padding-left:30px !important;}
.sp_pl35{padding-left:35px !important;}
.sp_pl40{padding-left:40px !important;}
.sp_pl45{padding-left:45px !important;}
.sp_pl50{padding-left:50px !important;}
.sp_pl55{padding-left:55px !important;}
.sp_pl60{padding-left:60px !important;}
.sp_pl65{padding-left:65px !important;}
.sp_pl70{padding-left:70px !important;}
.sp_pl75{padding-left:75px !important;}
.sp_pl80{padding-left:80px !important;}
.sp_pl230{padding-left:230px !important;}

.sp_pr0{padding-right:0px !important;}
.sp_pr5{padding-right:5px !important;}
.sp_pr10{padding-right:10px !important;}
.sp_pr15{padding-right:15px !important;}
.sp_pr20{padding-right:20px !important;}
.sp_pr25{padding-right:25px !important;}
.sp_pr30{padding-right:30px !important;}
.sp_pr35{padding-right:35px !important;}
.sp_pr40{padding-right:40px !important;}
.sp_pr45{padding-right:45px !important;}
.sp_pr50{padding-right:50px !important;}
.sp_pr55{padding-right:55px !important;}
.sp_pr60{padding-right:60px !important;}
.sp_pr65{padding-right:65px !important;}
.sp_pr70{padding-right:70px !important;}
.sp_pr75{padding-right:75px !important;}
.sp_pr80{padding-right:80px !important;}
.sp_pr125{padding-right:125px !important;}





/************************************************
6993自動入金component
************************************************/
/*---------------
Listmenu
------------------*/
.ListmenuAll {
	margin:0 10px;
	max-width:100%;
}
.ListmenuAll .ListmenuArea {
	margin:0;
}
.ListmenuAll .ListmenuArea ul li {
	margin: 0 0 5px 0;
	width:100%;
}
.ListmenuAll .ListmenuArea li a,
.ListmenuAll .ListmenuArea ul li.ListMenu a span span.title,
.ListmenuAll .ListmenuArea ul li.ListMenu a span span.titleLong,
.ListmenuAll .ListmenuArea ul li.ListMenuLink {
	height:auto;
}
.ListmenuAll .ListmenuArea ul li.last{
	margin:0 0 5px 0;
}
.ListmenuAll .ListmenuArea ul li.ListMenu a span span.title {
	padding: 12px 19px 12px 7px;
}
.ListmenuAll .ListmenuArea ul li.ListMenu a span span.titleLong {
	padding: 12px 20px 12px 6px;
}
.ListmenuAll .ListmenuArea ul li.ListMenu a span span.title,
.ListmenuAll .ListmenuArea ul li.ListMenu a span span.titleLong {
	font-size:90%;
	width:85%;
}
.ListmenuAll .ListmenuArea ul li.ListMenuLink{
	list-style-position:inside;
	padding:12px 0 12px 7px;
	width:100%;
	box-sizing: border-box;
}
.ListmenuAll .ListmenuArea ul li.ListMenuLink.last{
	margin:0 0 5px 0;
}
.ListmenuAll .ListmenuArea ul li.ListMenuLink a span span.title {
	font-size:90%;
}

/*---------------
com_btnXXX(Color)
------------------*/
/* com_btnGreen */
.com_btnGreen,
.com_btnOrange{
	width: 100%;
}
.com_btnGreen a > span,
.com_btnOrange a > span{
	background-size: 50px auto;
}
.com_btnGreen a > span > span,
.com_btnOrange a > span > span{
	padding: 24px 0 20px;
	font-size: 138.5%;
}
.com_btnGreen.lrg.double a > span > span,
.com_btnOrange.lrg.double a > span > span{
	padding: 15px 10px;
	font-size: 138.5%;
}

/* com_btnGreen lrg */
/* com_btnOrange lrg */
.com_btnGreen.lrg a > span > span,
.com_btnOrange.lrg a > span > span{
	line-height:155%;
	font-size: 153.8%;
	padding: 15px 10px;
}

.com_btnOrange02, .com_btnGreen02{
	max-width: 320px;
	width: auto;
}


/*---------------------------
pageTopBlock 20190228追加
-----------------------------*/
#pageTopBlock #pageTop {
	bottom: 2.987rem;
	right: 1.707rem;
	width: 12.667%;
}

/*20190927追加 sitemap(英)改修*/
.fParent li {
    flex-basis: 100%;
		max-width: 100%;
		padding-right: 10px;
}

.campaignlistBlock {
	  flex-direction: column;
		width: auto;
		align-items: baseline;
    padding: 0 10px;
}

.columnImage2Wrap04 {
	width: 100%;
	box-sizing: border-box;
}

.columnImage2Wrap04 img {
	width: 100%;
}

[class^="fParent02"] > *:nth-child(odd), [class^="fParent02"] > *:nth-child(even){
	flex-basis: 100%;
	max-width: 100%;
	padding-right: 10px;
}

.fParentBasis > *{
	flex-basis: 100%;
	max-width: 100%;
}

.fParentBasis > * {
	padding: 10px;
}

/************************************************
Tab Menu
************************************************/
.spTab{
display:block;
}
.spTab td {
    border-bottom: 4px solid #B7B7B7;
}
.pcTab{
display:none;
}
div#main td img {
    vertical-align: bottom;
}
div#main table td a {
    vertical-align: sub;
}
.pcHead th:first-child{
display:none;
}
.base table td.name{
display:none;
}
.spHead {
    display: table-row;
}
div#main table.base .spHead th {
    background-color: #F5F5F5;
    color: #000000;
    text-align: left;
    padding: 5px 10px;
}
div#main table.base .spHead th .dating {
    float: right;
    color: #000000;
}
div#main table.base table tbody tr:last-child td{
	border-bottom:none;
}
div#main table.base {
    border-bottom: 1px solid #707070;
}