.navbar-brand{
	background:#ff9344;
}
.left_sidebar_wrapper .nav-link:hover, 
.left_sidebar_wrapper .nav-item.active .nav-link,
#cssmenu > ul > li.active > a {
    color: #ff9344;
}
.left_sidebar_wrapper li a span,
#cssmenu > ul > li > a span{
    border: 4px solid #ff9344;
    background: #ff9344;
}
.left_sidebar_wrapper li a span:after,
#cssmenu > ul > li > a span:after {
    bottom: -14px;
    margin-left: -10px;
    border-top: 10px solid #ff9344;
}
a:hover {
    color: #ff9344;
}
.section_heading h2 {
	color: #ff9344;
}
.section_heading h2:before, 
.section_heading h2:after{
    background: #ff9344;
}
.btn_style {
	background: #ff9344;
}
.btn_style:before {
    background: #c77538;
}
.backtotop a.scroll {
    background: #ff9344;
}
.open_button {
    background-color: #ff9344;
    border: 1px solid #ff9344;
}
.chat_box {
    background: #ff9344;
}
.contact_box_img:after {
    background-color: #ff9344;
}
button.close {
    color: #ff9344;
}
#sidebar .sidebar_logo {
    float: left;
    width: 100%;
    background: #ff9344;
}
#cssmenu > ul > li > a:hover {
    color: #ff9344;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.home_banner .home_banner_img:after {
    border: 10px solid #ff9344;
}
.home_banner .home_banner_img ul {
    background: #ff9344;
}
.about_us_content i {
    color: #ff9344;
}
.about_us_wrapper .banner_right .back-circle-1,
.about_us_wrapper .banner_right .back-circle-2{
	border: 1px solid #ff9344;
}
.progress_bar span {
    background: #ff9344;
}
.education_content h5 {
    color: #ff9344;
}
.education_tabs li a:hover {
    background: #ff9344;
}
.education_tabs li a.active {
    background: #ff9344;
    border-color: #ff9344;
}
.education_tabs li a h4 span {
    background-color: #ff9344;
}
.education_tabs li a h4 span:after {
    border: 3px solid #ff9344;
}
.experience_item_area .experience_item .experience_title_left:hover, 
.experience_item_area .experience_item .experience_title_right:hover {
    background: #ff9344;
}
.experience_item_area .experience_item .experience_title_left:after,
.experience_item_area .experience_item .experience_title_right:after {
    background: #ff9344 none repeat scroll 0 0;
}
.experience_item_area:after {
    background: #ff9344;
}
.author img {
    border: 8px solid #ff9344;
}
.counter_section {
	background: #ff9344;
}
.portfolio_section .portfolio_filter li:hover a, 
.portfolio_section .portfolio_filter li:focus a, 
.portfolio_section .portfolio_filter li.active a {
    background: #ff9344;
}
.portfolio_section .portfolio_item .portfolio_hover .zoom_popup {
    background: #ff9344;
}
.blog_section .blog-post-wrapper .post-thumbnail .posted-date span {
    background: #ff9344;
}
.blog_section .blog-post-wrapper:hover {
    border-color: #ff9344;
}
.blog_section .blog-post-wrapper:hover .entry-title a {
    color: #ff9344;
}
.testimonial_image img {
    border: 2px solid #ff9344;
}
.testimonial_main_wrapper:hover {
    border-color: #ff9344;
}
.testimonial_slider_wrapper .owl-theme .owl-dots .owl-dot.active span, 
.testimonial_slider_wrapper .owl-theme .owl-dots .owl-dot:hover span {
  background: #ff9344 ;
}
.pricing_section .pricing-table-default:hover {
    border-color: #ff9344;
}
.pricing_section .pricing-table-default:hover .pricing-head {
    background-color: #ff9344;
    border-color: #ff9344;
}
.pricing_section .pricing-table-default:hover .pricing-list li {
    color: #ff9344;
}
.contact_info_section .icon_wrapper:hover {
    border-color: #ff9344;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.contact_info_section .icon_wrapper:hover i {
    background: #ff9344;
    color: #fff;
    transform: scale(0.85);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.newsletter_section {
    float: left;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #ff9344;
}
.newsletter_form button:hover {
    color: #ff9344;
}
.footer_social_icons li a:hover {
    background: #ff9344;
    border: 1px solid #ff9344;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

@media (max-width: 991px){
	
	.left_sidebar_wrapper {
		background: #ff9344;
	}

}