a.nav-link{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0;
	font-size: 13px;
	font-weight: bold;
	font-kerning: Metrics;
}
li.nav-item{
	padding:40px 30px;
}
li.nav-item:last-child{
	padding:40px 0px;
}
.border_bottom.container{
	padding:0px !important;
	border-bottom: 1px solid #505269;
}
.header h1{
	font-family: 'OpenSans';
	font-size:65px;
}
.dark_theme a.nav-link,.dark_theme h1{
	color:#ffffff !important;
}